<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget App</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- links javascript to HTML file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- links css to HTML -->
</head>

<body>
    <h1>Asher's Budget App</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- links css to HTML -->
    <div class="date-time-container">
        <p id="date-time"></p>
    </div> <!-- display time -->

    <div class="tab-container">
        <button class="tabLinks" onclick="budgetFunct(Event, 'Data')">Data</button>
        <button class="tabLinks" onclick="budgetFunct(Event, 'Balance')">Summary</button>
    </div>

    <div id="Data" class="tabContent">
        <h1>Data goes here!</h1>
    </div>

    <div id="Balance" class="tabContent">
        <form id="budgetForm" action="/submit_budget" method="post">
        <label for="income">Income:</label>
        <input type="number" id="income" name="income"><br><br>

        <label for="expense">Expense:</label>
        <input type="number" id="expense" name="expense"><br><br>

        <input type = "submit" value = "Calculate All Income">

        </form>
    <div id="resultDisplay"></div> <!--Place to show result-->
    </div>

</body>
</html>